EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ANTHROPIC_API_KEY=
RESEND_API_KEY=
NEXT_PUBLIC_POSTHOG_KEY=
EXPO_PUBLIC_APP_ENV=development
NEXT_PUBLIC_APP_URL=https://pulse-fc.app
EXPO_PUBLIC_GOOGLE_PLACES_KEY=
EXPO_PUBLIC_REMOVE_BG_API_KEY=
EXPO_PUBLIC_WEATHER_API_KEY=
